<Configuration>
	<Appenders>

		<Console name="STDOUT" target="SYSTEM_OUT">
			<!-- 输出格式 -->
			<PatternLayout pattern="[%p] \: %msg%xEx%n" />
		</Console>
	</Appenders>

	<Loggers>

		<!-- 配置记录器级别 -->
		<Root level="debug">
			<!-- 输出设置 -->
			<!-- <AppenderRef ref="STDOUT" /> -->
		</Root>
		<!-- 将调用mybatis的dao的包填入此处即可 -->
		<logger name="com.sys.dao">
			<level value="WARN" />
			<AppenderRef ref="STDOUT" />
		</logger>
		
		
		




	</Loggers>
</Configuration>